[BatchService]
url_base=batchservice
name=Batch Services
synopsis=NEP52 batch services provides a powerful, scalable batch processing capability to the Research Platform Initiative (RPI). This function is enabled through three Virtual Machine (VM) public images available through the OpenStack dashboard.
institution=University of Victoria
version=1.0
release_time=2013-05-01T00:00:00Z
category=Resource/Cloud Management
tags=batch,job,automatic,startup,shutdown,VM,virtual,software,repository
usage_type=invocations
usage=0
documentation=REDIRECT:https://wiki.heprc.uvic.ca/twiki/bin/view/Main/NEP52RPIDocument
release_notes=REDIRECT:https://github.com/hep-gc/cloud-scheduler/blob/master/README.md
support=REDIRECT:https://lists.uvic.ca/mailman/listinfo/batch-rpi
source=REDIRECT:https://github.com/hep-gc/cloud-scheduler
tryme=REDIRECT:https://nova-ab.dair-atir.canarie.ca/nova/images_and_snapshots/
licence=REDIRECT:https://github.com/hep-gc/cloud-scheduler/blob/master/README.md
#provenance=
